.title-input{
    border: none; 
    margin: 0 auto;
    max-height: 20px;
    width: 500px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:focus{
        outline: none;
    }
}