@import 'mixins';
@import 'variables';

@import '../../src/components/Header/header';
@import '../../src/components/UI/ImageButton/imageButton';
@import '../../src/components/SideBar/sidebar';
@import '../../src/components/TitleInput/titleinput';
@import '../../src/components/UI/ListBox/listbox';
@import '../../src/app';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
