.sidebar {
    height: calc(100vh - 65px);
    width: 40px;
    background-color: white;
    transition: ease-out 0.4s;
    cursor: pointer;
    overflow: hidden;

    div {
        @include flex-style(row,flex-start,center);
        gap: 0.5rem;
        padding-top: 10px;

        &:hover {
            background-color: rgba(60, 64, 67, .08);
        }
    }

    &:hover {
        width: 250px;
        border-right: 1px solid $border-color;
    }

}

.navOpenStyle {
    width: 250px;
    border-right: 1px solid $border-color;
}